# Copy to .env and adjust if needed
BASE_URL=https://ashy-grass-0c75bb903.6.azurestaticapps.net
API_URL=https://api-tabhub.azurewebsites.net

MANAGER_EMAIL=mehdi@cafetunisia.com
MANAGER_PASSWORD=mehdi123
MANAGER_TENANT=cafetunisia

ADMIN_EMAIL=mehdi@mehdi.com
ADMIN_PASSWORD=mehdi123

WAITER_PIN=5678
KITCHEN_PIN=2222
CASHIER_PIN=3333
